{% extends "base.html" %}

{% block content %}




<div class="container-fluid bg-image-login p-1 ">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center bg-transparent rounded">
            
            <div class="bg-form my-5 ">

                <form method="post" action="/accounts/login/ ">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                    <p style="color: red;">contraseña o nombre de usuario incorrecto</p>
                    {% endif %}

                    <div class="my-4 text-center">
                        <div class="my-3">
                            <div>
                                <label for="username" class="text-light">Nombre de Usuario</label>
                            </div>
                            <div>
                                <input type="text" id="username" name="username" required>
                            </div>
                        </div>

                        <div class="my-3">
                            <div>
                                <label for="password" class="text-light">Contraseña</label>
                            </div>
                            <div>
                                <input type="password" id="password" name="password" required>
                            </div>
                        </div>

                        <div class="my-3">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}

