{% load static%}

    <nav class="navbar navbar-expand-lg " style="background:rgb(26, 33, 37);">
        <div class="container-fluid" style="background:rgb(27, 32, 35);">
            <img src="{% static 'img/onlyflans_one.png' %}" alt="logo" width="75px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'contacto' %}">Contacto</a>
                </li>
                {% if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'welcome' %}">Welcome</a>
                </li>
                {% endif %}
            </ul>

            <!--search-->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <!--boton mi cuenta, formulario inicio sesion y boton que deriva a pag de registro -->
            
            <button type="button" class="btn btn-outline-secondary dropdown-toggle ms-3" data-bs-toggle="dropdown" aria-expanded="false">
                Mi cuenta
            </button>
            <ul class="dropdown-menu dropdown-menu-end p-4" style="min-width: 300px;">
                <form>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="inputEmail" placeholder="polo@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="********">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                </form>
                
                <div class="dropdown-divider"></div>
                <div class="text-center">
                    <a href="" class="link-primary">¿No tienes cuenta? Regístrate</a>
                </div>
            </ul>
            
            </div>
        </div>
    </nav>



<!--  {% if not user.is_authenticated %}-->
<!--    {% endif %}-->

<!--
{% if user.is_authenticated%}
<li class = "nav-item">
    <a class = "nav-link" href="{% url 'welcome'%}">
        bienvenido
    </a>
</li>
{% endif %}



-->